@model WebPedidos.Models.Departamento

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Departamento</h2>

<div>
    @*<h4>Departamento</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomDepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomDepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indicativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.indicativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.idDepto },new { @class="btn btn btn-success" }) |
    @Html.ActionLink("Volver a la Lista", "Index",new { },new { @class = "btn btn-default" })
</p>
