@model IEnumerable<WebPedidos.Models.EmpTran>

@{
    ViewBag.Title = "Index";
}

<h2>Empresa Transportadora</h2>

<p>
    @Html.ActionLink("Crear una Nueva", "Create", new { }, new { @class = "btn btn-sm btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomEmpTran)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomEmpTran)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.idEmpTran }, new { @class = "btn btn-sm btn-success" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idEmpTran }, new { @class = "btn btn-sm btn-default" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.idEmpTran }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
