@model IEnumerable<WebPedidos.Models.ContactoClie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NumIde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NumIde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomContacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idContactoClie }) |
            @Html.ActionLink("Details", "Details", new { id=item.idContactoClie }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idContactoClie })
        </td>
    </tr>
}

</table>
