<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA GESTIÓN DE PEDIDOS</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        /*html,body {
            background: 100%;
            background: #082330;
        }*/

        /*Color barra cabecera*/
        .contenedor {
            background-color: #ffffff;
        }
        /*Color sobre los li Acerca de, Contacto y Inicio*/
        .info-desplegable {
            background-color: #ffffff;
        }
        /*Color por encima de desplegable Operaciones, Consultas, Archivos*/
        .dropdown {
            background-color: #77C9D4;
        }


        /*Color fondo menú desplegable*/
        .dropdown-menu {
            background: #A5A5AF;
            width: auto;
        }

        .dropdown-toggle {
            background-color: #ffffff;
        }

        /*cambio de color SGP*/
        .navbar-header {
            background-color: #77C9D4;
        }

        /*Estilo al dar clic en el nav Archivos, Consultas, Operaciones*/
        .navbar-inverse .navbar-nav > .open > a,
        .navbar-inverse .navbar-nav > .open > a:hover,
        .navbar-inverse .navbar-nav > .open > a:focus {
            color: #ffffff;
            background-color: #77C9D4;
        }

        /*Cambio de color hover SGP*/
        .navbar-brand {
            background-color: #ffffff;
        }

        .navbar-inverse .navbar-brand {
            color: #999999;
        }

        .descriptabout{
            text-align: center;
            color: #ffffff;
            background-color: #00ff90;
            font-size:25px;
        }
    </style>

</head>
<body>

    <header>
        <div id="particles-js">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="contenedor">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("SGP  ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="info-desplegable">@Html.ActionLink("Inicio", "Index", "Home")</li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th-large"></span> Operaciones <span class="caret"></span> </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Nuevo Pedido", "NewPedido", "Pedidos")</li>
                                    <li>@Html.ActionLink("Eliminar Un Pedido", "NewPedido", "Pedidos")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("En Proceso ...", "NewPedido", "Pedidos")</li>
                                    <li>@Html.ActionLink("Autorizar/Bloquear", "NewPedido", "Pedidos")</li>
                                    <li>@Html.ActionLink("Despacho", "NewPedido", "Pedidos")</li>
                                    <li>@Html.ActionLink("Entrega", "NewPedido", "Pedidos")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-search"></span> Consultas <span class="caret"></span> </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("1. Estado de un Pedido", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("2. Ver un Pedido", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("3. En un Periodo", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("4. Pedidos de un Cliente", "Contact", "Home")</li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th-list"></span> Archivos <span class="caret"></span> </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Cliente", "Index", "Clientes")</li>
                                    <li>@Html.ActionLink("Cargo", "Index", "Cargos")</li>
                                    <li>@Html.ActionLink("Empleado", "Index", "Empleados")</li>
                                    <li>@Html.ActionLink("Departamento", "Index", "Departamentos")</li>
                                    <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>
                                    <li>@Html.ActionLink("Contacto", "Index", "ContactoClies")</li>
                                    <li>@Html.ActionLink("Teléfono", "Index", "Telefonos")</li>
                                    @*<li>@Html.ActionLink("Tipo de Teléfono", "Index", "TipoTels")</li>*@
                                    <li role="separator" class="divider"></li>
                                    @*<li>@Html.ActionLink("Flete", "Index", "Fletes")</li>
                                        <li>@Html.ActionLink("Forma de Pago", "Index", "FormPagos")</li>*@
                                    <li>@Html.ActionLink("Emp Transporte", "Index", "EmpTrans")</li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Producto", "Index", "Productos")</li>
                                    <li>@Html.ActionLink("Máquina", "Index", "Maquinas")</li>
                                    <li>@Html.ActionLink("Marca", "Index", "Marcas")</li>
                                </ul>
                            </li>

                            <li class="info-desplegable">@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li class="info-desplegable">@Html.ActionLink("Contacto", "Contact", "Home")</li>

                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>


                <div class="elcontenedorderegreso" style="position:absolute; left:190px; right:190px;">
                    
                    @RenderBody()
                    <hr />

                </div>
            </div>
        </div>
    </header>
    <footer>

        <p>&copy; @DateTime.Now.Year - Sistema Gestión de Pedidos ASP.NET</p>
    </footer>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
