<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SGP  ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Pedidos", "Index", "Pedidos")</li>
                    <li>@Html.ActionLink("Detalle Pedidos", "Index", "PedidoDets")</li>
                    <li>@Html.ActionLink("Consultas", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tablas<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cliente", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Cargo", "Index", "Cargos")</li>
                            <li>@Html.ActionLink("Empleado", "Index", "Empleados")</li>
                            <li>@Html.ActionLink("Departamento", "Index", "Departamentos")</li>                            
                            <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>
                            <li>@Html.ActionLink("Contacto", "Index", "ContactoClies")</li>
                            <li>@Html.ActionLink("Teléfono", "Index", "Telefonos")</li>
                            <li>@Html.ActionLink("Tipo de Teléfono", "Index", "TipoTels")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Flete", "Index", "Fletes")</li>
                            <li>@Html.ActionLink("Forma de Pago", "Index", "FormPagos")</li>
                            <li>@Html.ActionLink("Emp Transporte", "Index", "EmpTrans")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Producto", "Index", "Productos")</li>
                            <li>@Html.ActionLink("Máquina", "Index", "Maquinas")</li>
                            <li>@Html.ActionLink("Marca", "Index", "Marcas")</li>                                                    
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Gestión de Pedidos ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
