@model WebPedidos.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Cliente</h2>

<div>
    @*<h4>Cliente</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipios.NomMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipios.NomMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ideNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ideNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.idCliente },new { @class = "btn btn-success" }) |
    @Html.ActionLink("Volver a la Lista", "Index",new { },new { @class = "btn btn-default" })
</p>
