@model WebPedidos.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipios.NomMunicipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipios.NomMunicipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoIdes.NomTipoIde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoIdes.NomTipoIde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumIde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumIde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomClie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
