@model PagedList.IPagedList<WebPedidos.Models.Telefono>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Teléfono</h2>

<p>
    @Html.ActionLink("Crear un Nuevo", "CreateTel", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoTels.NomTipoTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().idContactoClie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NumTel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTels.NomTipoTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idContactoClie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTel)
            </td>
            <td>
                @Html.ActionLink("Modificar", "EditTel", new { id = item.IdTelefono }, new { @class = "btn btn-xs btn-success" }) |
                @Html.ActionLink("Eliminar", "DeleteTel", new { id = item.IdTelefono }, new { @class = "btn btn-xs btn-danger" })
            </td>
        </tr>
    }

</table>
<div class="col-md-2">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="col-md-10">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
        ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
</div>
