

@model PagedList.IPagedList<WebPedidos.ViewModels.UserView>
@*@model WebPedidos.ViewModels.UserView*@
                 
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Administrador de Permisos</h2>
<table class="table table-condensed table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
            </td>
            <td>
               <h6>@Html.DisplayFor(modelItem => item.Email)</h6>
            </td>
            <td>
               @Html.ActionLink("Roles", "Roles", new { idUser = item.UserID }, new { @class = "btn btn-xs btn-success" })
                </td>
        </tr>
    }
</table>
<div class="col-md-2">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="col-md-10">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
    {
        page,
        sortOrder =
        ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))
</div>




