@model IEnumerable<WebPedidos.Models.PedidoDet>
@{
    ViewBag.Title = "Details";
}
<h2>Detalle del Pedido  </h2>
<p>
    <button type="button" class="btn btn-default">@Html.ActionLink("Volver a la Lista", "Index")</button>
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => (item.PrecioT))
            </td>
            <td></td>
        </tr>
    }
</table>
<div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2"><h5></h5></div>
</div>
<div class="row">
    <div class="col-md-10">Total ...</div>
    <div class="col-md-2"><h5>@ViewBag.Tot_Pre</h5></div>
</div>
