@model WebPedidos.Models.Pedido

@{
    ViewBag.Title = "Delete";
}

<h3>Esta seguro de querer Eliminar este Pedido ? </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idPedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NomClie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.NomClie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormPago.NomFPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormPago.NomFPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasCred)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiasCred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdenEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrdenEstado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index", new { },new { @class="btn btn-default" })
        </div>
    }
</div>
