@model IEnumerable<WebPedidos.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Todos los pedidos en Trámite</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NomClie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormPago.NomFPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasCred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenEstado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NomClie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormPago.NomFPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasCred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenEstado)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.idPedido }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.idPedido },new { @class = "btn btn-xs btn-default" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPedido }, new { @class = "btn btn-xs btn-danger" })
        </td>
    </tr>
}
</table>
